$black: #333
$white: #eee
$dark-grey: #323232
$light-grey: #474747
$dark-blue: #00497d
$light-blue: #3d637d
$orange: #eb8b4d
$light-orange: #bd904e

@import "nav.sass"
@import "home.sass"
@import "market.sass"
@import "storage.sass"

body, html, #app
  width: 100%
  height: 100%

.main
  width: 100%
  height: 100%
  margin-top: -22px
  background-image: url('../img/storage/room.jpg')
  background-size: cover

  h1
    color: #fff

  h2
    color: $black

  .row
    position: relative
    height: 85%
    width: 1200px
    margin-left: auto
    margin-right: auto
    padding: 7px 15px
    background: rgba(255, 255, 255, 0.9)
    color: $black

    p
      padding-left: 4px
